---
interface Props {
    href: string;
    title: string;
    body: string;
}

const { href, title, body } = Astro.props;
---

<li class="card">
    <a class="card__link" href={href}>
        <h3 class="card__title">
            {title}
        </h3>
        <p class="card__txt">
            {body}
        </p>
    </a>
</li>
