---
const today = new Date();
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn">
                <a href="https://github.com/Sofiane5900/easy-algorithms" target="_blank" class="icon__link">
                    <img class="git-icon" alt="github icon" />
                </a>
            </li>
        </ul>
        <small>
            &copy; {today.getFullYear()} Easy Algorithms.
        </small>
    </div>
</footer>

