---
---
<nav class="navbar">
    <div class="navbar__title">
        <a href="/">Easy Algorithms</a>
    </div>
    <div class="navbar__menu">
        <a href="/posts">Articles</a>
    </div>
</nav>

